In [1]:
import pandas as pd
import numpy as np

In [2]:
sports = {
    'Archery':'Bhutan',
    'Golf':'Scotland',
    'Sumo':'Japan',
    'Taekwondo': 'South Korea',
}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [3]:
s.iloc[3]

'South Korea'

In [4]:
s.loc['Golf']

'Scotland'

In [5]:
s[3]

'South Korea'

In [6]:
s['Golf']

'Scotland'

In [7]:
sports = {
    99:'Bhutan',
    100:'Scotland',
    101:'Japan',
    102: 'South Korea',
}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [8]:
#s[0]

In [9]:
s[99]

'Bhutan'

In [10]:
s.iloc[0]

'Bhutan'

In [11]:
s = pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [12]:
total = 0
for item in s:
    total += item
print(total)

324.0

In [13]:
total = np.sum(s)
total

324.0

In [14]:
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    843
1    456
2    646
3    366
4    171
dtype: int64

In [15]:
len(s)

10000

In [16]:
%%timeit -n 100
summary = 0
for item in s:
    summary += item

2.04 ms ± 51.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [17]:
%%timeit -n 100
h = np.sum(s)

162 µs ± 18.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
s += 2
s.head()

0    845
1    458
2    648
3    368
4    173
dtype: int64

In [19]:
for label, value in s.iteritems():
    s.at[label]= value+2
s.head()

0    847
1    460
2    650
3    370
4    175
dtype: int64

In [20]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

962 ms ± 5.11 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [21]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

875 µs ± 169 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [22]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [24]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [25]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [26]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [27]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [28]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object