In [1]:
import pandas as pd
pd.Series?

In [2]:
animals = ['Tiger', 'Bear', 'Mouse']
pd.Series(animals)

0    Tiger
1     Bear
2    Mouse
dtype: object

In [3]:
numbers = [1,2,3,4,5,6]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [4]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [5]:
numbers = [1,2,3,4,5,6,None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
import numpy as np
np.NaN == None

False

In [8]:
np.nan == np.nan

False

In [9]:
sports = {
    'Archery':'Bhutan',
    'Golf':'Scotland',
    'Sumo':'Japan',
    'Taekwondo': 'South Korea',
}
s=pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [10]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [11]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals,index=['India','America','Canada'])

India      Tiger
America     Bear
Canada     Moose
dtype: object